@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Northwind</h1>
        <p class="lead">SQL Axure.</p>
     
    </section>

  
</main>